.main{
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 100px auto;
    box-sizing: border-box;
    
}
.heading-logo{
    text-align: center;
    font-size: 40px;
    font-family:fantasy;
    font-variant:normal;
}
.welcome-text{
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    font-weight:600;
    margin-bottom: 38px;
}
.input{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 2px solid rgba(189, 189, 189, 0.458); /* Specify the border style for all sides */
    width: 100%;
    margin-bottom: 15px;
    padding: 22px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;   
    text-align: left;
}
.btn{
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    color: white;
    border-radius: 7px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 50px;
    width: 300px;
    box-sizing: border-box;


}
.signUpInfo{
    text-align: center;
    color: rgb(140, 140, 140);
    line-height: 1.2px;
    font-size: medium;
    font-family: sans-serif;
    margin-top: 20px;
}

.login-footer{
    text-align: center;
    color: rgb(140, 140, 140);
    font-size: small;
    margin-top: 40px;
    font-family: sans-serif;
}
a {
    color: black;
}